.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

*:focus {
  outline: none !important;
}

body {
  padding: 0;
  font-family: Open Sans,open-sans,sans-serif;
}

h1,h2,h3 {margin: 0;padding: 0;}

.col-xs-12 > h2 {
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 80px;
  margin-left: auto;margin-right: auto;
}


/*navbar inverse*/
.navbar-inverse {
  border: none;
  margin-bottom: 0;
  z-index: 9999;
  border-radius: 0;
}

.navbar-inverse .navbar-collapse { border: none; }

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }

}

/*Hamburger*/
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle {
  background-color: #fff;
  border-color: #fff;
}

.hamburger-text {
  font-weight: bold;
}

.affix {
  top: 0;
  width: 100%;
  background-color: #111;
  transition: all .5s ease-in-out;
}

.affix-top {
  position: static;
  top: -35px;
  transition: all .5s ease-in-out;
}

/*junbotron*/
.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 0;
  padding: 0;
  background-image: url(../images/banner-1.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #kb9D44;
  height: 650px;
  margin-top: -70px; /*this is causing the last link to go out of the box on smaller devices*/
  margin-bottom: 0;
}

.banner {
  background-color: transparent;
}

.findOut {
  margin-top: -30px;
}

.findOut a {
  text-decoration: none;
  color: #fff;
}

.findOut i {font-size: 25px;}


h1.banner-heading {
  text-transform: uppercase;
  color: #fff;
  font-size: 300%;
  font-weight: 700;
}

.visible-xs.rw-sentence {
  font-size: 20px;
  font-weight: 400;
}

.rw-sentence.hidden-xs {
  font-size: 28px;
  font-weight: 400;
}

.negpadding {
  margin-left: -100px;
}

.banner-button {
  margin-top: 55px;
  padding: 15px 50px;
  letter-spacing: 2px;
  font-weight: 600;
  font-style: 18px;
  text-transform: uppercase;
}


.bar-section {
    background-color: #111;
    padding-top: 40px;
    padding-bottom: 40px;
}

.bars {
    padding: 20px;
}

.bars > span {
  font-size: 36px;
  color: #449D44;
}


.bars > strong {
    font-weight: 700;
    font-size: 50px;
    display: block;
    line-height: 50px;
    color: #fff;
}

.bars > label {
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
    color: #fff;
}

.bars > p {
    line-height: 20px;
    font-size: 18px;
    color: #449D44;
}

.service-row {
  /*background-image: url(../images/relax.png);*/
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-color: #f1f1f1;
  margin-right: -15px;
  margin-left: -15px;
}

.service-box {
  padding: 20px;
}

.inner:hover {
  box-shadow: 2px 2px 5px #5CB85C, 2px 2px 5px #111;
  cursor: default;
}

.inner {
  padding: 20px;
  background-color: #fff;
  transition: all .5s ease-in-out;
}

.service-content h3, .step-heading {
  font-size: 18px;
  text-transform: capitalize;
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: bold;
  color: #323a45;
}

.service-content p, .step-description {
  font-size: 15px;
  line-height: 23px;
}

.service-content div {
  margin-top: 30px;
}

.service-content a {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
  color: #5CB85C;
}

@media (max-width: 766px) {
  img.logo {
    margin-top: -10px;
  }
  .banner{
    padding: 100px 10px;
  }

  .bars {
    padding: 1px;
  }
  .bars > strong {
    font-weight: 700;
    font-size: 50px;
  }

  .bars > label {
      font-size: 15px;
  }

  .bars > p {
      font-size: 15px;
  }

  .col-xs-12 > h2 {
    font-size: 24px;
  }
}


@media (min-width: 767px) {
  img.logo {
    margin-top: -10px;
  }
  .banner{
    padding: 130px 60px;
  }

  h1.banner-heading {
    color: #fff;
    font-size: 56px;
    font-weight: 700;
  }


  .why-row {
    padding-bottom: 50px;
  }

  .bars {
    padding: 1px;
  }
  .bars > strong {
    font-weight: 700;
    font-size: 50px;
  }

  .bars > label {
      font-size: 15px;
  }

  .bars > p {
      font-size: 15px;
  }

  .marTop {
    margin-top: 80px;
  }

  blockquote {
    padding: 10px 90px;
  }

  .carousel-caption {
    padding: 20px 80px
  }
}

@media (min-width: 1024px) {
  .banner{
    padding: 160px 100px;
  }
  .why-row > .container {
    padding:  20px 100px;
  }
}

@media (max-width: 358px) {
  .alignSmall{
    padding-top: 20px;
  }
}

.glyphicon {
  color: ;
}

blockquote {
  border-left: none;
  padding-top: 0;
}

blockquote footer {
  color: #fff;
  /*font-size: 80px;*/
}

blockquote > p {
  font-size: 18px;
  word-spacing: 2px;
}

blockquote > p > i {
  color: #449D44;
  font-size: 40px;
}

.quot {
  font-size: 30px;
}

.btn-success {
  border-radius: 40px;
}


.carousel-caption {
  position: static;
  /*padding: 20px 50px;|*/
}

.carousel-control.right, .carousel-control.left {
  background: transparent;
}

.carousel-indicators .active { background-color: #449D44; }

.customers-row {
  background-image: url(../images/banner.jpg);
  background-color: gray;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 500px;
  /*height: auto;*/
  /*opacity: .5;*/
}

#map {
  height: 500px;
}
.map-row {
  margin-left: -15px;
  margin-right: -15px;
}

.link-button {
  padding-top: 200px;
}

.link-button > h3 {
  padding: 20px;
  text-transform: capitalize;
}


/*Media Query for STEPS*/
@media (max-width: 767px) {
  .step-row {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .step-heading {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
  }

  .step-description {
    padding-left: 15px;
  }
}


@media (min-width: 768px) {
  .step-row {
    padding-top: 15%;
  }
}


.step-number {
  line-height: 1.5;
  font-size: 50px;
}

.step-heading {
  color: #323a45;
}

.step-images {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/*BRANDS*/

.brand-box > .btn-success {
  background-color: #fff;
  color: #323a45;
  text-transform: uppercase;
  font-weight: 600;
  transition: all .5s ease-in-out
}

@media (max-width: 390px) {
  .brand-image > img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.brand-box > .btn-success:hover {
  background-color: #449D44;
  color: #fff;
  border-color: #fff;
}
.brand-image {
  opacity: .5;
  transition: all .5s ease-in-out;
  align-items: center;
  margin-top: 30px;
}
.brand-image:hover {
  opacity: 1;
}

.footer {
  padding: 30px 10px;
  background-color: #111;
}


.all-banner {
  background-image: url(../images/allBanner-1.jpg);
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: ;background-repeat: no-repeat;
  height: 300px;
}

.all-banner-inner{
  padding-top: 70px;
  color: #fff;
}

.about-us {
  margin-top: 70px;
  margin-bottom: 40px;
  /*padding: 80px 40px;*/
}

.about-us p {
  color: #111;
  font-size: 20px;
}

.panel.panel-success {
  transition: all .5s ease-in-out;
}

.panel.panel-success:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.panel-profile .panel-heading {
  height: 150px;-webkit-background-size: cover;
  background-size: cover;
}
.panel-profile-img {
  max-width: 100px;
  margin-top: -70px;
  margin-bottom: 5px;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}