<div class="row">

    <div class="jumbotron text-center">
      <div class="banner">
        <h1 class="banner-heading">got a car ?</h1>
        <!-- Hidden for smaller devices -->
        <h2 class="rw-sentence hidden-xs">
          <span>MotorZo is a smart car service that removes all hassles associated with car service. We give your car the best treatment there is</span> <br>
          <span class="negpadding">motorzo is</span>
          <div class="rw-words rw-words-1">
            <span>trusthworthy</span>
            <span>convenient</span>
            <span>smart</span>
            <span>easy</span><!--
            <span>sugar</span>
            <span>happiness</span> -->
          </div>
        </h2>

        <!-- For IE browsers -->
       <!--  <h2 class="rw-sentence-IE">Real poetry is like creating beautiful butterflies with a silent touch of spice</h2> -->
        <!-- Visible for smaller devices -->
        <h2 class="visible-xs rw-sentence ">
          MotorZo is a smart car service that removes all hassles associated with car service.We give ur car the best treatment there is
        </h2>
        <button class="btn btn-success banner-button">get a quote</button>
      </div>

      <div class="text-center findOut">
        <a ng-href="#find">
          <h3>Find out more</h3>
          <i class="glyphicon glyphicon-menu-down"></i>
        </a>
      </div>
    </div>

</div>

<div class="row">
  <div class="col-xs-12" style="background-color: #111" id="find">
    <h2 style="text-transform: capitalize; color: #fff;">how does it works</h2>
  </div>
  <div class="col-sm-6">
    <div class="row step-row">
      <div class="col-xs-1">
        <h3 class="step-number">1</h3>
      </div>
      <div class="col-xs-10" style="padding-right: 0;">
        <h3 class="step-heading">identify</h3>
        <p class="step-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi commodi minima, perferendis ab fuga nemo ipsum, ullam, temporibus inventore vel officiis. Officia sint, iure blanditiis debitis vero ex cum nobis.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 step-images">
    <img ng-src="images/relax.png" alt="" class="img-responsive">
  </div>
  <!-- STEP TWO -->
  <div class="col-sm-6 col-sm-push-6">
    <div class="row step-row">
      <div class="col-xs-1">
        <h3 class="step-number">1</h3>
      </div>
      <div class="col-xs-10" style="padding-right: 0;">
        <h3 class="step-heading">identify</h3>
        <p class="step-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi commodi minima, perferendis ab fuga nemo ipsum, ullam, temporibus inventore vel officiis. Officia sint, iure blanditiis debitis vero ex cum nobis.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-sm-pull-6 step-images">
    <img ng-src="images/relax.png" alt="" class="img-responsive">
  </div>

  <!-- STEP THREE -->
  <div class="col-sm-6">
    <div class="row step-row">
      <div class="col-xs-1">
        <h3 class="step-number">1</h3>
      </div>
      <div class="col-xs-10" style="padding-right: 0;">
        <h3 class="step-heading">identify</h3>
        <p class="step-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi commodi minima, perferendis ab fuga nemo ipsum, ullam, temporibus inventore vel officiis. Officia sint, iure blanditiis debitis vero ex cum nobis.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 step-images">
    <img ng-src="images/relax.png" alt="" class="img-responsive">
  </div>
</div>

<div class="row">
  <section class="bar-section">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4 col-md-offset-0 col-xs-6 bars">
            <span class="glyphicon glyphicon-star"></span>
            <strong>4.7</strong>
            <label>Average Customer Rating</label>
            <p>They can't be wrong</p>
        </div>
        <div class="col-md-4 col-md-offset-0 col-xs-6 bars">
          <span class="glyphicon glyphicon-map-marker"></span>
          <strong>112</strong>
          <label>Service Centers</label>
          <p class="alignSmall">All Quality Certified</p>
        </div>
        <div class="col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2 bars">
          <span class="glyphicon glyphicon-thumbs-up"></span>
          <strong>6027</strong>
          <label>Fans</label>
          <p>Many More To Come</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="why-row">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>why choose motorzo</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="service-content">
          <h3>power of choice</h3>
          <p>Choose your own service station based on multiple ratings and estimates. All the service stations you see on our platform have been quality certified to meet the highest standards!</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="service-content">
          <h3>100% transparency</h3>
          <p>All our services are based according to manufacturer norms and we will tell you what is required for your car. From pricing to details of the service stations; we hide nothing form you.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 marTop">
        <div class="service-content">
          <h3>smart and simple</h3>
          <p>We offer an interface that gets you more with less clicks. Identify car issues yourself and let our smart algorithm find the service station that is best based on your repair, car and location!</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 marTop">
        <div class="service-content">
          <h3>comfort and convenience</h3>
          <p>Trust us to find your issue and fix it. Trust us to bring back your car as good as new. We are always just a click or call away! Car maintenance was never so easy and hassle free.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="customers-row row">
  <!-- <div class="row"> -->
      <div class="col-xs-12">
        <h2 style="color: #FFF">what our customers are saying</h2>
      </div>
    <!-- </div> -->
  <div class="col-xs-12">
    <div id="customersTest" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#customersTest" data-slide-to="0" class="active"></li>
          <li data-target="#customersTest" data-slide-to="1"></li>
          <li data-target="#customersTest" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <!-- <img ng-src="images/relax.png" alt="..."> -->
            <div class="carousel-caption">
              <blockquote>
                <p>
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                </p>
                <p> <span class="quot">&quot;</span> I really appreciate the effort you had taken and the personal attention and time you had given both the times when I had given my car to your team. I am extremely delighted by the services you offerred and also the best price negotiation you all had got for us for both my cars <span class="quot">&quot;</span></p>
                <footer>KP SUNDAY</footer>
              </blockquote>
            </div>
          </div>
          <div class="item">
            <!-- <img ng-src="images/relax.png" alt="..."> -->
            <div class="carousel-caption">
              <blockquote>
                <p>
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                </p>
                <p> <span class="quot">&quot;</span> These guy are excellent. Brilliant job done. They know how to revive the look on any car. Totally impressed nd i would highly recommend! <span class="quot">&quot;</span></p>
                <footer>RAJKUMAR</footer>
              </blockquote>
            </div>
          </div>
          <div class="item">
            <div class="carousel-caption">
              <blockquote>
                <p>
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                  <i class="glyphicon glyphicon-star"></i>
                </p>
                <p> <span class="quot">&quot;</span> I must say you guys are fantabulous! Ther was accuracy, time management ad most of all, it is how you guys initially educate us on the actual requirement of the customer <span class="quot">&quot;</span></p>
                <footer>PIYUSH</footer>
              </blockquote>
            </div>
          </div>
        </div>

        <!-- Controls -->
        <!-- <a class="left carousel-control hidden-xs" ng-href="#customersTest" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control hidden-xs" ng-href="#customersTest" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> -->
      </div>
  </div>
</div>

<div ng-include="'layout/services.html'"></div>
<div class="row" style="margin-bottom: 50px">
  <div class="col-xs-12">
    <h2>we service most brands</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-center brand-box">
          <div class="brand-image">
            <img src="images/logos/1.png" alt="brands" class="">
          </div>
          <a href="" class="btn btn-success btn-block">mahindra</a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-center brand-box">
          <div class="brand-image">
            <img src="images/logos/2.png" alt="brands" class="">
          </div>
          <a href="" class="btn btn-success btn-block">mahindra</a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-center brand-box">
          <div class="brand-image">
            <img src="images/logos/3.png" alt="brands" class="">
          </div>
          <a href="" class="btn btn-success btn-block">mahindra</a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-center brand-box">
          <div class="brand-image">
            <img src="images/logos/4.png" alt="brands" class="">
          </div>
          <a href="" class="btn btn-success btn-block">mahindra</a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-center brand-box">
          <div class="brand-image">
            <img src="images/logos/5.png" alt="brands" class="">
          </div>
          <a href="" class="btn btn-success btn-block">mahindra</a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-center brand-box">
          <div class="brand-image">
            <img src="images/logos/6.png" alt="brands" class="">
          </div>
          <a href="" class="btn btn-success btn-block">mahindra</a>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-center brand-box">
          <div class="brand-image">
            <img src="images/logos/7.png" style="width: 90%" alt="brands" class="">
          </div>
          <a href="" class="btn btn-success btn-block">toyota</a>
      </div>
    </div>
  </div>
</div>

<div class="map-row" style="background-color: #ff9800">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h2 style="color: #fff;">our vendors are alll over bangalore</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" style="padding-right: 0;padding-left: 0;">
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>
<div class="ready ">
<div class="row">
  <div class="col-xs-12 col-sm-6 text-center link-button">
    <h3>i am ready for a smart service</h3>
    <form class="form-inline">
      <div class="form-group">
        <label for="number" class="sr-only">Number</label>
        <div class="input-group">
          <div class="input-group-addon" style="background-color: #449D44; color: #fff;">+91</div>
          <input type="number" class="form-control input-lg" id="number">
        </div>
      </div>
      <button type="submit" class="btn btn-success btn-lg">send me link</button>
    </form>
  </div>
  <div class="col-sm-6">
    <img ng-src="images/try.png" alt="" class="img-responsive">
  </div>
</div>
</div>




<script>
        var beaches = [
      ['beach', 12.9081, 77.6476,4],
      ['beach', 12.9787, 77.5724,3],
      ['beach', 12.9372, 77.5116,2],
      ['beach', 12.9317, 77.6227,1],
      ['beach', 13.0617033, 77.2962104,5],
      ['beach', 12.9719, 77.6412,6],
      ['beach', 13.012, 77.6471,7],
      ['beach', 12.843148, 77.674889,8],
      ['beach', 13.010510, 77.551033,9],
      ['beach', 12.917980, 77.640961,10],
      ['beach', 12.929422, 77.678823,11],
      ['beach', 12.906561, 77.592777,12],
      ['beach', 12.987429, 77.741265,13],
      ['beach', 13.033326, 77.598001,14],
      ['beach', 12.900529, 77.563830,15],
      ['beach', 12.911514, 77.607354,16],
      ['beach', 13.010817, 77.506579,17],
      ['beach', 12.960752, 77.740304,18],
      ['beach', 12.937562, 77.746452,19],
      ['beach', 12.901110, 77.484337,20],
      ['beach', 12.963599, 77.453962,21],
      ['beach', 13.020563, 77.596620,22]
    ];

    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: {lat: 12.9716, lng: 77.5946},
        mapTypeControl: false,
        draggable: false,
        scaleControl: false,
        scrollwheel: false,
        navigationControl: false,
        streetViewControl: false,
        zoomControl: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });
      setMarkers(map);
      var styles = [
        {
          stylers: [
            { hue: '#2f343c' },
            { saturation: -20 }
          ]
        },
        {
          featureType: 'road',
          elementType: 'geometry',
          stylers: [
            { lightness: 100 },
            { visibility: 'on' },
            { color: '#ff9800'}
          ]
        },
        {
          featureType: 'road',
          elementType: 'labels',
          stylers: [
            { visibility: 'off' }
          ]
        }
      ];
      map.setOptions({styles: styles});
    }

    function setMarkers(map) {

      var image = {
        url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
        // This marker is 20 pixels wide by 32 pixels high.
        size: new google.maps.Size(12, 27),
        // The origin for this image is (0, 0).
        origin: new google.maps.Point(0, 0),
        // The anchor for this image is the base of the flagpole at (0, 32).
        anchor: new google.maps.Point(0, 32)
      };

      var shape = {
        coords: [1, 1, 1, 20, 18, 20, 18, 1],
        type: 'poly'
      };
      for (var i = 0; i < beaches.length; i++) {
        var beach = beaches[i];
        var marker = new google.maps.Marker({
          position: {lat: beach[1], lng: beach[2]},
          map: map,
          icon: image,
          shape: shape,
          title: beach[0],
          zIndex: beach[3],
          animation: google.maps.Animation.BOUNCE
        });
      }
    }
      </script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>